{% extends 'base.html' %}
{% load static %}


{% block title %}
    Lista empleados por area
{% endblock title %}
    

{% block content %}
    {% include 'includes/header.html' %}    
    <div class="grid-container">
        <div class="grid-x"> 
            <div class="cell"> 
                <h1> Lista por area</h1>
            </div>
            <div class="cell">
                <table>
                    <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTO</th>
                        <th width="150">ACCION</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for e in object_list %}
                            <tr>
                                <td>{{ e.id }}</td>
                                <td>{{ e.first_name }}</td>
                                <td>{{ e.second_name }}</td>
                                <td>{{ e.departamento }}</td>
                                <td><a class="button warning" href="{% url 'persona_app:empleado_detail' e.id %}">VER</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
    